In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#final = pd.read_csv('top50.csv',encoding='ISO-8859-1')
final = pd.read_csv('RegularSeasonDetailedResults.csv')

In [3]:
final

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71236,2016,132,1114,70,1419,50,N,0,26,52,...,18,4,9,6,20,13,13,6,3,12
71237,2016,132,1163,72,1272,58,N,0,22,48,...,16,11,17,5,21,10,6,3,0,20
71238,2016,132,1246,82,1401,77,N,1,28,58,...,23,15,22,17,23,11,13,5,4,20
71239,2016,132,1277,66,1345,62,N,0,25,60,...,15,17,21,5,22,10,5,4,4,14
71240,2016,132,1386,87,1433,74,N,0,35,54,...,29,11,16,12,21,12,9,5,5,21

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
final["Wloc"]=le.fit_transform(final['Wloc'])

In [5]:
final

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,2,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,2,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,2,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,2,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,2,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71236,2016,132,1114,70,1419,50,2,0,26,52,...,18,4,9,6,20,13,13,6,3,12
71237,2016,132,1163,72,1272,58,2,0,22,48,...,16,11,17,5,21,10,6,3,0,20
71238,2016,132,1246,82,1401,77,2,1,28,58,...,23,15,22,17,23,11,13,5,4,20
71239,2016,132,1277,66,1345,62,2,0,25,60,...,15,17,21,5,22,10,5,4,4,14
71240,2016,132,1386,87,1433,74,2,0,35,54,...,29,11,16,12,21,12,9,5,5,21

In [19]:
i = final.iloc [:,[0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20]]
d = final.iloc [:,6]

from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

i,d = make_classification(random_state=42)
X_train, X_test, y_train, y_test = train_test_split(i, d, random_state=42)
pipe = make_pipeline(StandardScaler(),DecisionTreeClassifier())
pipe.fit(X_train, y_train)  # apply scaling on training data

#pipe.score(X_test, y_test)

predicted_y=pipe.predict(X_test)
predicted_y

from sklearn.metrics import accuracy_score
accuracy_score(y_test,predicted_y)

In [20]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71241 entries, 0 to 71240
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  71241 non-null  int64
 1   Daynum  71241 non-null  int64
 2   Wteam   71241 non-null  int64
 3   Wscore  71241 non-null  int64
 4   Lteam   71241 non-null  int64
 5   Lscore  71241 non-null  int64
 6   Wloc    71241 non-null  int32
 7   Numot   71241 non-null  int64
 8   Wfgm    71241 non-null  int64
 9   Wfga    71241 non-null  int64
 10  Wfgm3   71241 non-null  int64
 11  Wfga3   71241 non-null  int64
 12  Wftm    71241 non-null  int64
 13  Wfta    71241 non-null  int64
 14  Wor     71241 non-null  int64
 15  Wdr     71241 non-null  int64
 16  Wast    71241 non-null  int64
 17  Wto     71241 non-null  int64
 18  Wstl    71241 non-null  int64
 19  Wblk    71241 non-null  int64
 20  Wpf     71241 non-null  int64
 21  Lfgm    71241 non-null  int64
 22  Lfga    71241 non-null  int64
 23  Lfgm3   71241 non-null  int64
 24  Lfga3   71241 non-null  int64
 25  Lftm    71241 non-null  int64
 26  Lfta    71241 non-null  int64
 27  Lor     71241 non-null  int64
 28  Ldr     71241 non-null  int64
 29  Last    71241 non-null  int64
 30  Lto     71241 non-null  int64
 31  Lstl    71241 non-null  int64
 32  Lblk    71241 non-null  int64
 33  Lpf     71241 non-null  int64
dtypes: int32(1), int64(33)
memory usage: 18.2 MB

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (i, d, test_size = .40)

In [23]:
knn = KNeighborsClassifier(n_neighbors=5000)

In [24]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=5000)

In [25]:
acc_test = accuracy_score(y_test, knn.predict(x_test))
acc_test

0.5973611257325333

In [26]:
#from sklearn.metrics import accuracy_score
#accuracy_score(y_test,predicted_y)

NameError: name 'predicted_y' is not defined